body footer {
  background: #838383;
  color: black;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 150px;  
  margin-top: 25px;
}

#foot-text{
  margin-top:40px;
  margin-left: 40px;
  font-weight: bold;
}