body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#user-text{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}

#user-text h3{
  padding-right: 10px;
}

.method-buttons{
  margin-top: 20px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;  
}

.method-buttons input[type="radio"] {
 opacity:0.011;
}

.method-buttons input[type="radio"]:checked + label {
 background:rgb(109, 109, 109);
}

.method-buttons label {
  padding:5px;
  border:1px solid #CCC; 
  cursor:pointer;
  width: 50px;
  background:rgb(211, 211, 211);
}

.method-buttons label:hover {
  background:rgb(180, 180, 180);
}

.output-text{
  display: flex;
  justify-content: left;
  margin-left: 70px;
  margin-right: 70px;
  padding-left: 30px;
  border:1.5px solid rgb(0, 0, 0);
  background:rgb(212, 212, 212);
}